# Ignore changes to the Slack Stay-Active config-file:
slack_active.yaml
# Do not version the test start script:
start.sh
# Ignore mystical single quote directories: '
**/'
# Ignore temp files and directories:
*.tmp
**/temp
# Ignore typical Python stuff:
**/__pycache__
# Ignore process ID files:
*.pid