<!--
    On a Mac, copy this file to:
        ~/Library/LaunchAgents/

    Lint the file and make sure it's good:
        /> plutil -lint ~/Library/LaunchAgents/com.jocreyf.mouse_move.plist
            com.jocreyf.mouse_move.plist: OK

    See if we already have a launchd entry for this app:
    (this also shows the PID of any running instance of the launchd process)
        /> launchctl list | grep mouse_move

    Load the config in launchd when ready to have the app run in the background:
    (also unload and reload again when changes are made to the config!)
        /> launchctl unload ~/Library/LaunchAgents/com.jocreyf.mouse_move.plist
        /> launchctl load ~/Library/LaunchAgents/com.jocreyf.mouse_move.plist

    Start the app in a background process (or stop it):
    (app output is sent to '/var/log/system.log'.  Just grep for 'mouse_move')
        /> launchctl start com.jocreyf.mouse_move
        /> launchctl stop com.jocreyf.mouse_move
        /> launchctl restart cm.jocreyf.mouse_move

    Install the "launchcontrol" gui tool if you want something better to debug launchd problems:
        /> brew install launchcontrol

    Use Systemd to run the app as a service on Linux hosts.  See the systemctl command.
    Or maybe run it as a simple background process:
        /> nohup /Users/JCREYF/data/jcreyf/git/jcreyf/stuff/mouse_move/mouse_move 2>&1 > ~/tmp/mouse_move.log &
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jocreyf.mouse_move</string>
    <key>Program</key>
    <string>/Users/JCREYF/data/jcreyf/git/jcreyf/stuff/mouse_move/mouse_move</string>
    <!--
    <key>ProgramArguments</key>
    <array>
        <string>/bin/launchctl</string>
        <string>setenv</string>
        <string>DISPLAY</string>
        This may need to change to: /private/tmp/com.apple.launchd.dz41OmcJqR/org.macosforge.xquartz:0
        <string>:0</string>
    </array>
    -->
    <!-- Run when the PC boots or when this plist file gets reloaded and hourly thereafter
         (just in case it got killed for some reason) -->
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>3600</integer>
    <!-- Have the output of the app redirected to this file -->
    <key>StandardErrorPath</key>
    <string>/Users/JCREYF/tmp/mouse_move.log</string>
    <key>StandardOutPath</key>
    <string>/Users/JCREYF/tmp/mouse_move.log</string>
</dict>
</plist>
